.overly {
  background-color: rgb(43, 43, 43);
  position: fixed;
  transition: margin 0.3s;
  z-index: 101;
}

.main-nav-overly {
  margin-right: -16rem;
  top: 0;
  height: 100%;
  width: 15rem;
}

.shown {
    margin-right: -1rem;
  }