.overlay {
  position: fixed;
  transition: margin 0.3s;
  z-index: 101;
  width: fit-content;
  height: fit-content;
}

/* Main navigation */

.main-nav-overlay {
  margin-right: -16rem;
  /* margin-right: -50rem; */
  top: 0;
  height: 100%;
  width: 15rem;
}

.show-main-nav-overlay {
  margin-right: -1rem;
}

/*  Trade form */

.trade-form-overlay {
  bottom: -50rem;
  transition: bottom 0.3s;
}

.show-trade-form-overlay {
  bottom: 0rem;
}

/*  Search pairs */

.search-pairs-overlay {
  width: 100%;
  bottom: -40rem;
  transition: bottom 0.3s;
}

.show-search-pairs-overlay {
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .trade-form-overlay,
  .search-pairs-overlay,
  .main-nav-overlay {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
}
