/* .currencies-table{
    display: flex;
    flex-direction: column;
    width: 100%;
} */

.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.intro {
  padding:1rem 4rem;
  margin: 4rem 0;
}

.intro h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 2rem;
}

.intro h1 span{
    color:var(--gold-color);
}

.intro p{
    font-size: 14px;
    color:var(--custom-gray);
    text-align: justify;
}

.loading-new-items {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.loading-new-items svg {
  fill: rgb(189, 189, 189);
  animation: rotation 1s;
  animation-iteration-count: infinite;
}

.currencies-table .refresh-btn{
  margin: auto;
  background-color: rgb(187, 187, 187);
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding:3px;
  margin-bottom: 10px;
}
.currencies-table .refresh-btn svg{
  fill: rgb(255, 255, 255);

}

@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
