.home-page {
  background-color: rgb(48, 48, 48);
}

.currencies-list {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 25px;
  color: black;
  margin-top: -25px;
}
