.scroll-page {
  background-color: white;
  padding-top: 56px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-page * {
  color: rgb(61, 61, 61);
}

.text-container {
  background-color: white;
  z-index: 100;
}

.scroll-page h1 {
  color: rgb(61, 61, 61);
  font-size: 22px;
  margin:2rem 0;
}

.scroll-page p {
  font-size: 12px;
  text-align: justify;
  direction: rtl;
  margin: 0 1rem;
}

.scroll-page img {
  display: block;
  width: 80vw;
  border-radius: 50%;
  margin-top: 1rem;
}

@media screen and (min-width:768px) {
.scroll-page img{
  width:50vw;
}
.scroll-page p{
  margin: 0 5rem;
}
}

@media screen and (min-width: 1024px) {
  .scroll-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .scroll-page p {
    font-size: 14px;
    margin:0 4rem;
  }

  .scroll-page h1 {
    margin-bottom: 4rem;
  }
  .scroll-page img {
    margin:0 2rem;
    width: 80vh;
    max-width: 30rem;
  }
}
