.Intro { 
  background-color: transparent !important;
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5rem 0;
}

.intro-wrapper h1 {
  color: var(--gold-color);
  margin: 2rem 0;
  font-size: 60px;
}

.intro-wrapper h3 {
  margin: 1rem 0;
}

.intro-wrapper p {
  font-size: 14px;
  color: rgb(194, 194, 194);
  margin-bottom: 1rem;
}
/* @media screen and (min-width: 768px) {
  .Intro {
    min-height: calc(100vh - 56px);
  }
} */
