.Intro {
  background-color: transparent !important;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../files/images/home-page-bg-0.jfif);
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding:2rem 0;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* padding: 2rem 0; */
  margin: 0 1rem;
}

.right-side .title {
  font-size: 23px;
  max-width: 30rem;
  text-align: center;
  margin: 4rem 0;
}

.right-side .title span {
  color: var(--gold-color);
}

.right-side h3 {
  margin: 0.5rem 0;
  font-size: 14px;
}

.right-side .btn-caption {
  font-size: 12px;
  margin: 0;
}

.right-side > div {
  font-size: 14px;
  color: rgb(194, 194, 194);
  margin-bottom: 1rem;
}

.left-side {
  margin: 4rem 8rem;
  align-self: center;
}

.left-side > div {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 0.5rem 0rem;
  margin: 0.5rem 0;
  font-size: 10px;
  color: var(--custom-gray);
  border: 1px solid rgba(255, 255, 255, 0.5);
  direction: ltr;
  display: flex;
}

.left-side > div:nth-child(2) {
  margin-left: 1rem;
}

.left-side > div > div {
  display: flex;
  justify-content: flex-start;
  margin: 0 0.5rem;
}

.left-side > div > div:last-child {
  justify-content: flex-end;
}

.left-side > div .id {
  width: 55px;
}
.left-side > div .change {
  width: 30px;
}

.left-side > div .price {
  width: 50px;
}

@media screen and (min-width: 1024px) {
  .Intro {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../../files/images/home-page-bg-1.jpg);
    background-position: 60% 30%;
    background-attachment: fixed;

    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .right-side {
    align-items: flex-start;
    align-self: flex-start;
    margin: 0 4rem 3rem;
  }

  .right-side > * {
    margin: 1rem 0;
  }

  .right-side .title {
    text-align: right;
  }
}
