.Statistics {
  padding: 2rem 0 5rem;
  direction: ltr;
  user-select: none;
  height: 661px;
}

.background-holder{
  width: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table-capiton {
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: rgb(49, 49, 49);
  padding: 2rem 0;
}

.counter-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



@media screen and (min-width: 768px) {
  .Statistics{
    height: 360px;
  }

  .counter-container {
    flex-direction: row;
  }
  .background-holder {
    height: 152px;
  }
}
