.row {
  display: flex;
  justify-content: space-between;
  margin: 1.2rem 2rem;
}

.row > div {
  text-align: center;
  width: 5rem;
  display: flex;
  justify-content: center;
}

.name{
  width: 7rem;
}