/* tr {
  display: flex;
  justify-content: space-between;
  margin: 1.2rem 2rem;
}

th {
  font-size: 12px;
  color: rgb(133, 133, 133);
  text-align: center;
}

td {
  display: flex;
}

img {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
}

.name-symbol {
  margin: 0 0.5rem;
}

.name {
  width: 7rem;
}

.name h3 {
  font-size: 12px;
}

.name p {
  font-size: 12px;
}

.volume {
  display: none;
}

.buy-sell-btn {
  display: none;
}

.price {
  display: flex;
  align-items: center;
  font-size: 12px;
  width: 5rem;
  direction: ltr;
}

.change {
  
  font-size: 14px;
  display: block;
  width: 4rem;
  direction: ltr;
}

.increased {
  color: rgb(11, 110, 36);
}

.decreased {
  color: red;
} 

*/

.currencies-item {
  font-size: 12px;
}

.currencies-item img {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
}

.name {
  display: flex;
  width: 120px !important;
  text-align: right !important;
}

.name-symbol {
  margin-right: 0.5rem;
}

.name h3 {
  font-size: 12px;
}

.name p {
  font-size: 12px;
}

.price {
  width: 80px;
  direction: ltr;
  display: flex;
  justify-content: flex-end;
}

.change {
  width: 50px;
  direction: ltr;
}

.increased {
  color: rgb(11, 110, 36);
}

.decreased {
  color: red;
}

.volume {
  display: none;
  width: 100px;
  text-align: right !important;
}

.buy-sell-btn {
  width: 30px;
  position: relative;
}

.more-btn > svg {
  fill: rgb(90, 90, 90);
  display: block;
  width: 28px;
  height: 28px;
  padding: 0.2rem;
}

.more-btn > svg:hover {
  border-radius: 50%;

  background-color: rgb(218, 218, 218);
}

@media screen and (min-width: 768px) {
  .volume {
    display: block;
  }
  .more-btn {
    display: none;
  }

  .buy-sell-btn {
    width: 100px;
  }
}
