.currencies-table {
  width: 100%;
  padding: 1rem 0.5rem;
}

.currencies-table thead {
  width: 100%;
  display: block;
  margin-bottom: 0.3rem;
}

.currencies-table tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  transition: box-shadow 0.2s;
}

.currencies-table th {
  font-size: 12px;
}

.currencies-table td {
  text-align: center;
  display: flex;
  align-items: center;
}

.currencies-table .name {
  width: 120px;
}

.currencies-table .price {
  width: 80px;
}

.currencies-table .change {
  width: 50px;
}

.buy-sell-btn {
  width: 30px;
}

.volume {
  display: none;
  width: 100px;
}

@media screen and (min-width: 768px) {
  .volume {
    display: block;
  }
  .buy-sell-btn {
    width: 100px;
  }
}
