.custom-table {
  width: 100%;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}

.header-title {
  color: rgb(128, 128, 128);
  font-size: 12px;
}

.row {
  position: relative;
}

.buttons {
  width: 100%;
  display: flex;
  padding: 0.1rem 1rem;
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
  height: 21px;
}

.volume-bar {
  position: absolute;
  display: none;
  width: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.buttons > button {
  font-size: 12px;
  z-index: 1;
  display: flex;
  align-items: center;
  height: inherit;
  color: var(--light-white);
}

/* Order book */

.buy-order-book .total,
.sell-order-book .total {
  display: none !important;
}

.buy-order-book .volume-bar,
.sell-order-book .volume-bar {
  display: block;
}
.buy-order-book .volume-bar {
  background-color: var(--exchange-green-transparent);
}
.sell-order-book .volume-bar {
  background-color: var(--exchange-red-transparent);
}

/*  Buy order book  */

.buy-order-book button.price {
  color: var(--exchange-green);
}

/* Sell order book */

.sell-order-book {
  direction: ltr;
}

.sell-order-book button.price {
  color: var(--exchange-red);
}

/*     Trades     */
.trades .buttons {
  padding: 0.1rem 0rem;
}

.trades .positive {
  color: var(--exchange-green);
}

.trades .negative {
  color: var(--exchange-red);
}

/*    Search cuurency      */
.search-cuurency{
  direction: ltr;
}





@media screen and (min-width: 770px) {
  .buy-order-book,
  .sell-order-book {
    max-height: 105px;
    overflow: hidden;
  }
}
