.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0.5rem 1rem;
  background-color: hwb(0 13% 87% / 0.3);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.menubtn-logo-container {
  display: flex;
}

.logo {
  font-size: 10px;
  margin: 0 1rem;
}

.main-nav-container {
  display: flex;
}

.user-links {
  display: flex;
  align-items: center;
}

.header-auth-links{
  height: 40px;
  padding: .3rem 0;
}


.show-menu-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menubtn-logo-container input[type="checkbox"]:checked ~ .show-menu-label {
  visibility: hidden;
}

@media screen and (min-width:770px) {
  .menubtn-logo-container label{
    display: none;
  }
  
}
