.select-btn {
  background-color: var(--tradingview-black);
  box-sizing: border-box;
  padding: 0 1rem;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
}

.active {
  background-color: rgb(30, 30, 37);
  border-top: 2px solid var(--gold-color);

  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.btn-border-style-helper {
  height: 100%;
  display: flex;
  align-items: center;
}
