.buy-sell-btn {
  width: 100%;
  margin: 1.5rem 0;
  border-radius: 3px;
  text-align: center;
  padding: 0.5rem 0;
}

.buy-sell-btn:disabled {
  filter: grayscale(60%);
  cursor: not-allowed;
}

.auth-links-container {
  background-color: var(--input-gray);
}
s
.auth-links-container span {
  font-size: 12px;
}

.auth-links-container a {
  color: var(--gold-color);
}

button.buy {
  background-color: var(--exchange-green);
}

button.sell {
  background-color: var(--exchange-red);
}
