.chart-container {
  padding: 0.5rem;
  height: 21rem;
}

.hidden {
  display: none;
}

@media screen and (min-width: 770px) {
  .chart-container {
    grid-column: 2 / end;
    grid-row: 2;
  }
  .hidden {
    display: block;
  }
}

@media screen and (min-width: 1030px) {
  .chart-container {
    grid-column: 2/4;
    grid-row: 2/3;
  }
}
