.Chart {
  position: relative;
  height: 21rem;

}

.chart-container {
  padding: 0.5rem;
  height: 100%;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .Chart {
    grid-column: 2 / end;
    grid-row: 2;
  }
  .hidden {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .Chart {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .chart-container {
  }
}
