.form-switcher {
  flex: 1 1 auto;
  display: flex;
  position: relative;
}

.form-switcher-btn {
  flex: 1 1 auto;
  height: 2rem;
  font-size: 14px;
  text-align: center;
  background-color: var(--input-gray);
  border-radius: 5px;
}

.buy-selected {
  background-color: var(--exchange-green);
}

.sell-selected {
  background-color: var(--exchange-red);
}
