.input-box {
  background-color: var(--input-gray);
  margin: 0.7rem 0;
  border-radius: 5px;
  display: flex;
  font-size: 12px;
  /* padding: 0.7rem 0.6rem; */
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0);
}

.input-box > * {
  padding: 0.7rem 0;
}

.input-box label {
  padding: 0.6rem;
}

.input-box:hover,
.input-box:focus-within {
  border: 1px solid var(--gold-color);
}

.disabled-inp-box:hover,
.disabled-inp-box:focus-within {
  border: 1px solid rgba(0, 0, 0, 0);
}

.disabled-inp-box {
  background-color: rgb(121, 121, 121);
  cursor: not-allowed;
}

.input-box .title {
  color: var(--custom-gray);
}

.input-box input {
  width: 0;
  flex: 1 1 auto;
  direction: ltr;
}

.inp-has-error {
  border-color: red;
  background-color: rgb(73, 0, 0);
}

.inp-has-error:hover,
.inp-has-error:focus-within {
  border-color: red;
}
