.order-item {
  margin: 0 1rem;
  background-color: rgb(43, 43, 43);
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}


div.currency-pair {
  margin-left: 1rem;
  font-size: 14px;
}

div.order-type {
  font-size: 12px;
}

div.transaction-type {
  font-size: 12px;
  margin-left: 0.2rem;
}

.order-item dl {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.order-item dt {
  margin-top: 0.3rem;
  font-size: 12px;
  justify-self: start;
  color: var(--custom-gray);
}

.order-item dd {
  margin-top: 0.3rem;
  justify-self: end;
  font-size: 14px;
}

.order-item dd.time {
  font-size: 12px;
  color: var(--custom-gray);
}

.currency-pair:not(div),
.order-type:not(div),
.transaction-type:not(div) {
  display: none;
}



@media screen and (min-width: 768px) {
  .order-item {
    margin: 0 1rem;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.5rem;
    border-radius: 0;
    border-top: 1px solid rgb(49, 49, 49);
  }

  .header {
    display: none;
  }
  .currency-pair:not(div),
  .order-type:not(div),
  .transaction-type:not(div) {
    display: block;
  }

  .order-item dl {
    display: flex;
  }

  .order-item dt {
    display: none;
  }

  .order-item dd{
    font-size: 12px;
    color:var(--custom-gray);
  }
}
