.order-book {
  height: 21rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding:1rem;
}

.hidden {
  display: none;
}

@media screen and (min-width: 770px) {
  .order-book{
    grid-template-columns: repeat(1, 1fr);
    grid-column-start: 2;
  }
  .hidden{
    display: grid;
  }
}

@media screen and (min-width:1030px) {
  .order-book{
    grid-column: 4/5;
  }
  
} 