.PrimaryData {
  position: relative;
}

.primary-data {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.col {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.name-price {
  margin-right: 0;
}

.name {
  font-size: 20px;
  align-items: center;
  display: none;
}

.searchOverlay-btn {
  display: flex;
  cursor: pointer;
}

.col h5 {
  font-weight: 400;
  font-size: 10px;
  color: var(--custom-gray);
}

.col p {
  font-size: 12px;
}

.key-value {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.key-value span {
  display: block;
  font-size: 12px;
}

.price-change {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  font-size: 24px;
}

.change {
  display: flex;
  flex-direction: column;
}

.change > div {
  display: flex;
}

.change span {
  font-size: 12px;
  margin-left: 0.4rem;
}

.change h5 {
  display: none;
}

.change p {
  font-size: 14px;
}

/* Min width: 770 px */

@media screen and (min-width: 768px) {
  .PrimaryData {
    grid-column: 1 / end;
  }

  .primary-data {
    justify-content: flex-start;
    max-height: 83px;
  }

  .col {
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0rem;
  }

  .name {
    margin-left: 6rem;
  }

  .price-change {
    flex-direction: row;
  }

  .key-value {
    margin: 0 0.5rem;
  }

  .price {
    font-size: 16px;
    margin-left: 6rem;
    display: flex;
    align-items: center;
  }

  .change h5 {
    display: block;
  }

  .change {
    margin-right: 0;
  }

  .high-24h {
  }
}

@media screen and (min-width: 1024px) {
  .PrimaryData {
    border-bottom: 1px solid var(--border-light-gray);
  }
  .name {
    display: flex;
  }
  .searchOverlay-btn {
    display: none;
  }
  .key-value {
    margin: 0 1rem;
  }

  .name {
    font-size: 22px;
    margin-left: 8rem;
  }
  .price {
    font-size: 20px;
  }
}
