.primary-data{
    display:flex;
    justify-content: space-between;
    padding:0 .5rem;
}

.col{
    display: flex;
    flex-direction: column;
    margin:1rem;
}

.col h5{
    font-weight: 400;
    font-size: 10px;
    color: var(--custom-gray);
}

.col p{
    font-size: 12px;
}

.col > div {
    margin-bottom: .5rem;
}

.name{
    font-size: 20px;
}

.price-change{
    margin-top:.2rem;
}

.price{
    font-size:24px;
    margin-bottom: -.5rem;
}

.change{

}

.change span{
    font-size:12px;
    margin:0 .3rem;
}

.change h5{
    display: none;
}

.change p{
    font-size: 14px;
}