.trades {
  height: 21rem;
  padding: 1rem;
  /* overflow-y: scroll; */
}

.hidden {
  display: none;
}

@media screen and (min-width: 770px) {
  .hidden {
    height: 14rem;
    display: block;
  }
}
