.TradeSection {
  z-index: 1;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.trade-sec {
}

.show-form-btns {
  display: flex;
  padding: 1rem 1rem;
  background-color: var(--tradingview-light-black);
}

.show-form-btns button {
  flex: 1 1 auto;
  text-align: center;
  margin: 0.2rem;
  border-radius: 5px;
  height: 1.5rem;
  padding: 0.5rem 1rem;
}

.show-form-btns .sell {
  background-color: var(--exchange-red);
}

.show-form-btns .buy {
  background-color: var(--exchange-green);
}

@media screen and (min-width: 768px) {
  .TradeSection {
    position: relative;

    grid-row: 2 / 4;
    border-left: 1px solid var(--border-light-gray);
    border-bottom: 1px solid var(--border-light-gray);
  }
  .trade-sec {
    height: 100%;
  }

  .show-form-btns {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .TradeSection {
    grid-column: 2/4;
    grid-row: 3/5;
    border: none;
    border-bottom: 1px solid var(--border-light-gray);
  }
  .trade-sec {
    height: 100%;
  }
}
