.trade-sec {
  /* background-color: red; */
  position: fixed;
  width: 100%;
  bottom: 0;
}

.show-form-btns {
  display: flex;
  /* justify-content: space-between; */
  padding: 1rem 1rem;
  background-color: var(--tradingview-light-black);
}

.show-form-btns button {
  flex: 1 1 auto;
  text-align: center;
  margin: 0.2rem;
  border-radius: 5px;
  height: 1.5rem;
  padding: 0.5rem 1rem;
}

.show-form-btns .sell {
  background-color: var(--exchange-red);
}

.show-form-btns .buy {
  background-color: var(--exchange-green);
}

@media screen and (min-width: 770px) {
  .trade-sec {
    position: relative;
    grid-row: 2 / 4;
    border-left:1px solid var(--border-light-gray);
    border-bottom:1px solid var(--border-light-gray);


  }

  .show-form-btns {
    display: none;
  }
}

@media screen and (min-width: 1030px) {
  .trade-sec {
    grid-column: 2/4;
    grid-row: 3/6;
    border-bottom:1px solid var(--border-light-gray);

  }
}
