.TradeHistory {
  position: relative;
  min-height: 10rem;
  padding: 0 1rem;
  margin: 2rem 0 0;
  grid-row: 4/5;

}

/* .btns-wrapper{
  background-color: var(--tradingview-black);
  position: sticky;
  top:0;
} */

.trade-history {
  height: 100%;
}

.open-orders {
  margin-top: 1rem;
  padding-bottom: 80px;
  max-height: 634px;
  overflow:scroll;
}

@media screen and (min-width: 768px) {
  .TradeHistory {
    grid-column: 1 / end;
    grid-row: 4/5;
  }
  .open-orders {
    padding-bottom: 0;
    max-height: 280px;

  }
}

@media screen and (min-width: 1024px) {
  .TradeHistory {
    grid-column: 1 / 5;
    grid-row: 6/7;
  }
}
