.trade-form {
  background-color: var(--tradingview-black);
  width: 100vw;
  height: 100%;
  background:var(--tradingview-light-black);
}

.min-770 {
  display: none;
}

.trade-type-selector {
  display: flex;
  align-items: center;
  height: 3rem;
}

.layout-helper {
  background-color: var(--tradingview-black);
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--border-light-gray);
}

.form-switchers {
  /* width: 100%; */
  display: flex;
}

.input-sec {
  padding: 1rem;
}

.select-order-type {
  border-bottom: 1px solid var(--border-light-gray);
  margin: 1rem 0;
}

.inputs-container{
  display: flex;
}

@media screen and (min-width: 770px) {
  .trade-form {
    width: 100%;
    grid-row: 2 / end;
  }

  .min-770 {
    display: block;
  }
}


/* @media screen and (min-width: 1030px) {
  .trade-form{
  }
} */
