.trades {
  height: 21rem;
  padding: 1rem;
  /* overflow-y: scroll; */
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .trades {
    height: 100%;
    grid-column: 3 /4;
    grid-row: 3/4;
    border-bottom: 1px solid var(--border-light-gray);
    border-top: 1px solid var(--border-light-gray);
  }
  .hidden {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .trades {
    grid-column: 1;
    grid-row: 4/5;
    border-left: 1px solid var(--border-light-gray);
    border-bottom: 1px solid var(--border-light-gray);
  }
}
